<div class="body-page">
  <h2>🧍 Meu Corpo</h2>
  <p>Visualize os principais grupos musculares trabalhados.</p>

  <div class="body-images">
    <div class="body-front">
      <h4>Frente</h4>
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/201_Elements_of_the_Human_Body.02-bn.svg" alt="Corpo humano frente">
    </div>

    <div class="body-back">
      <h4>Costas</h4>
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/201_Elements_of_the_Human_Body.02-bn.svg" alt="Corpo humano costas">
    </div>
  </div>
</div>
